node_modules
dist
.firebase
.env
.DS_Store

# Progress Trackers
remaining_tasks.md
upgrade_plan.md

# Sensitive IDs & Configs
.firebaserc
google-script/.clasp.json
google-script/appsscript.json
google-script/deployments.txt
